.dashboard-sidebar-section {
  margin: 60px 0;
  box-shadow: 0 14px 38px 3px rgba(0, 0, 0, 0.14);
}

.dashboard-sidebar-section .user-image {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 7px;
  border-radius: 50%;
  object-fit: fill;
}
.dashboard-sidebar-section .personal-detail {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0 0 15px;
}
.dashboard-sidebar-section .personal-detail .username {
  font-family: var(--font-roboto), sans-serif;
}
.dashboard-sidebar-section .navigation {
  margin-top: 20px;
}
.dashboard-sidebar-section .navigation .logout-action {
  display: flex;
  gap: 10px;
}
.dashboard-sidebar-section .navigation .logout-action .icon {
  color: red;
}
.dashboard-sidebar-section .navigation .nav-title {
  font-weight: 400;
  padding: 8px 7px;
  border: 1px solid rgba(151, 157, 172, 0.15);
  font-family: var(--font-roboto), sans-serif;
  width: 100%;
  text-align: left;
  background: #fff;
}
.dashboard-sidebar-section .navigation .nav-title:hover,
.dashboard-sidebar-section .navigation .nav-title-active {
  background-color: rgba(151, 157, 172, 0.15);
  cursor: pointer;
}
